@model IEnumerable<Atelier3.Models.School>

@{
    ViewData["Title"] = "Index";
}

<div class="container mt-4">
    <h1 class="text-center" style="color: #7CB9E8;">List of schools</h1>
    <br />
    <p>
        <a class="btn btn-primary" asp-action="Create" style="background-color:cadetblue ; border: cadetblue">
            <img src="~/images/home-add.png" alt="Create" style="height: 20px; margin-right: 5px;" />
            Create New school
        </a>
    </p>

    <table class="table table-striped table-bordered table-hover">
        <thead class="table-dark">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.SchoolAdress)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SchoolAdress)
                    </td>
                    <td>
                        <a class="btn btn-warning btn-sm" asp-action="Edit" asp-route-id="@item.SchoolID">
                            <img src="~/images/home-edit.png" alt="Edit" style="height: 20px; margin-right: 5px;" />
                            Edit
                        </a>
                        <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.SchoolID">
                            <img src="~/images/home-information.png" alt="Details" style="height: 20px; margin-right: 5px;" />
                            Details
                        </a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.SchoolID">
                            <img src="~/images/home-cancel.png" alt="Delete" style="height: 20px; margin-right: 5px;" />
                            Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
